{% extends "_layout.html" %}
{% block content %}
<!--Snelle navigatiebuttons voor debugging-->
<!--<a href="{{ url_for('training') }}">
    <button>
        Terug
    </button>
</a>
<a href="{{ url_for('resultaat') }}">
    <button>
        Verder
    </button>
</a><br /><br />-->

<h1>Afbeelding selectie</h1><br />
<div class="container">
    <div class="row">
        <a href="{{ url_for('resultaat') }}">
            <button>
                Upload
            </button>
        </a>
        ?
    </div>
    <div class="row">
        <div class="col-sm" style="margin: 5px;">
            <div class="container border" style="min-height: 400px; padding:10px;">
                {% for img in imglist %}
                <img src="https://picsum.photos/200" alt="image placeholder" style="margin:5px;">
                {% endfor %}
            </div>
        </div>
        <div class="col-sm" style="margin: 5px;">
            <div class="container border" style="min-height: 400px; overflow: auto;">
                <h1>
                    Uitleg
                </h1>
                <p>In dit scherm is er de mogelijkheid om een afbeelding te uploaden. Deze afbeelding zal vergeleken worden met de afbeeldingen uit de dataset die geselecteerd is. Deze overeenkomsten worden in een procentuele score weergegeven met de accuracy score (overeenkomsten tussen de afbeeldingen)</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}