{% extends "_layout.html" %}
{% block content %}
<!--Snelle navigatiebuttons voor debugging-->
<!--<a href="{{ url_for('resultaat') }}">
    <button>
        Terug
    </button>
</a><br /><br />-->

<div class="container" style="overflow: auto; text-align: center">
    <h1>Eind</h1>
    <p>Bedankt voor het gebruiken van deze tool. Wij hopen dat jullie na deze tool gebruikt te hebben de werking van een AI begrijpen en in de toekomst hier wellicht mee willen werken.</p>
    <p>Als u het proces nog eens wilt doorlopen, kunt u hier deze keuze maken, zo niet kunt u het venster sluiten.</p>
    <p>Wij bedanken u allen voor het gebruiken van de website en hopen dat u hier iets nieuws van geleerd heeft.</p>
</div>
<div class="row" style="text-align: center">
    <div class="col">
        <div class="row">
            <div class="container" style="width:50%;">
                Andere dataset selecteren
            </div>
        </div>
        <div class="row">
            <div class="container" style="width:50%;">
                <a href="{{ url_for('dataset') }}">
                    <button>Dataset</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="container" style="width:50%;">
                Andere afbeelding selecteren
            </div>
        </div>
        <div class="row">
            <div class="container" style="width:50%;">
                <a href="{{ url_for('afbeelding') }}">
                    <button>Afbeelding</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}