{% extends "_layout.html" %}
{% block content %}
<!--Snelle navigatiebuttons voor debugging-->
<!--<a href="{{ url_for('resultaat') }}">
    <button>
        Terug
    </button>
</a><br /><br />-->

<div class="container" style="overflow: auto; text-align: center">
    <h1>Eind</h1>
    <p>Bedankt voor het gebruiken van deze tool. Hopelijk heb je nu meer inzicht in hoe een AI werkt en kun je kritische vragen stellen over de werking hiervan. Het van groot belang om je er bewust van te zijn dat, hoewel AI het werk een stuk makkelijker kan maken, deze technologie niet perfect is en een menselijk oog niet kan vervangen.</p>
    <p>Je kunt de AI nogmaals testen met een nieuwe afbeelding of opnieuw trainen met een andere dataset. Als je klaar bent, kun je het scherm gewoon afsluiten.</p>
</div>
<div class="row" style="text-align: center">
    <div class="col">
        <div class="row">
            <div class="container" style="width:50%;">
                Andere dataset selecteren
            </div>
        </div>
        <div class="row">
            <div class="container" style="width:50%;">
                <a href="{{ url_for('dataset') }}">
                    <button>Dataset</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="container" style="width:50%;">
                Andere afbeelding selecteren
            </div>
        </div>
        <div class="row">
            <div class="container" style="width:50%;">
                <a href="{{ url_for('afbeelding') }}">
                    <button>Afbeelding</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}