{% extends "_layout.html" %}
{% block content %}
<!--Snelle navigatiebuttons voor debugging-->
<!--<a href="{{ url_for('index') }}">
    <button>
        Terug
    </button>
</a>
<a href="{{ url_for('dataset') }}">
    <button>
        Verder
    </button>
</a><br /><br />-->

<div class="container" style="overflow: auto; text-align: center">
    <h1>Keuze AI-modellen</h1>
    <p>AI is een hulptool die door de Jaren heen veel is ontwikkeld en verbeterd. Deze tool is de laatste Jaren niet alleen maar in de ICT-sector bruikbaar, maar ook in veel andere sectoren. Ai heeft verschillende taken, eentje is gespecialiseerd op het herkennen van handelsmerken, de andere is bijvoorbeeld gespecialiseerd in het ontwikkelen door computergestuurde tegenstander in een videospel.</p>
    <p>Een AI kan zeer bruikbaar zijn buiten de ICT-sector, denk hierbij aan bepaalde zoekmachines. Deze gebruiken algoritmes die afbeeldingen kunnen herkennen. Een ander goed voorbeeld hiervan zijn de verschillende chatboxen op websites van bedrijven. (Chatten met iemand van Bol.com klantenservice)</p>
    <p>Voor het project is de keuze gemaakt om het Siamese Neural Network te gebruiken als AI. Deze keuze is gemaakt omdat er sprake is van regressie. Regressie toont in deze vorm aan welke handelsmerken het meeste met elkaar overeenkomen. Deze sterkte in overeenkomsten zal worden uitgedrukt in een similarity score. Het Siamese Neural Network vergelijkt alleen afbeeldingen, het zal niet kijken naar teksten en/of klanken. De AI vergelijkt alleen de afbeelding met de verschillende kenmerken hierin.</p>
    <p>Met deze tool willen we jullie achter de schermen laten zien hoe een AI functioneert en het ook wat toegankelijker maken voor de studenten.</p>
</div>
<div class="row" style="text-align: center">
    <div class="col">
        <div class="row">
            <div class="container" style="width:50%;">
                Siamese neural network
            </div>
        </div>
        <div class="row">
            <div class="container" style="width:50%;">
                <a href="{{ url_for('dataset') }}">
                    <button>Siamese neural network</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="container" style="width:50%;">
                Andere Artificial neural network
            </div>
        </div>
        <div class="row">
            <div class="container" style="width:50%;">
                <a href="{{ url_for('index') }}">
                    <button disabled>##</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}