{% extends "_layout.html" %}
{% block content %}
<!--Snelle navigatiebuttons voor debugging-->
<!--<a href="{{ url_for('afbeeldingVerwerking') }}">
    <button>
        Terug
    </button>
</a>
<a href="{{ url_for('eind') }}">
    <button>
        Verder
    </button>
</a><br /><br />-->

<h1>Resultaat</h1><br />
<div class="container" style="padding: 10px">
    <div class="row">
        <div class="col-sm" style="max-width: 300px">
            <img src="{{url_for('static', filename=firstImage)}}" alt="" width="250" height="250">
        </div>
        <div class="col" style="min-width: 0px;">
            <div class="row">
                <div class="container border" style="max-height: 180px; overflow: auto;">
                    <h1>Uitleg</h1>
                    <p>De AI zegt dat deze afbeelding de grootste overeenkomst heeft met de afbeelding die we onderzoeken. Bekijk de andere resultaten. Ben je het hiermee eens? Het is belangrijk om op dit stadium kritische vragen te stellen over de betrouwbaarheid van de resultaten. Waaraan kan het liggen dat de resultaten mogelijk niet kloppen?</p>
                </div>
            </div>
            <div class="row">
                Vergelijkbaarheid: ## &emsp;
                <input type="range" min="1" max="100" value="75" class="slider" disabled>
            </div>
            <div class="row">
                <div class="container" style="display: flex; justify-content: center; padding: 5px;">
                    <a href="{{ url_for('eind') }}">
                        <button>Finish</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container border" style="min-height: 200px; overflow-y: scroll">
    {% for img in imgresultlist %}
        <img src="{{url_for('static', filename=img)}}" alt="" style="margin:5px;" width="200" height="200">
    {% endfor %}
</div>
{% endblock %}