{% extends "_layout.html" %}
{% block content %}
<!--Snelle navigatiebuttons voor debugging-->
<!--<a href="{{ url_for('afbeelding') }}">
    <button>
        Terug
    </button>
</a>
<a href="{{ url_for('eind') }}">
    <button>
        Verder
    </button>
</a><br /><br />-->

<h1>Resultaat</h1><br />
<div class="container" style="padding: 10px">
    <div class="row">
        <div class="col-sm" style="max-width: 300px">
            <img src="https://picsum.photos/250" alt="image placeholder">
        </div>
        <div class="col" style="min-width: 0px;">
            <div class="row">
                <div class="container border" style="max-height: 180px; overflow: auto;">
                    <h1>Uitleg</h1>
                    <p>In dit scherm is er de mogelijkheid om een afbeelding te vergelijken met de rest van de dataset. Deze afbeelding zal vergeleken worden met de afbeeldingen uit de dataset die geselecteerd is. Deze overeenkomsten worden in een procentuele score weergegeven met de accuracy score  even uitleggen wat accuracy/similarity score is. (overeenkomsten tussen de afbeeldingen)</p>
                    <p>Er moet nog vermeld worden dat dit een handige tool is om te gebruiken, echter moet de keus/handling gemaakt worden door een mens. Het is een hulpmiddel om dit proces effectief te laten verlopen met een groeiende dataset.</p>
                </div>
            </div>
            <div class="row">
                Vergelijkbaarheid: ## &emsp;
                <input type="range" min="1" max="100" value="75" class="slider" disabled>
            </div>
            <div class="row">
                <div class="container" style="display: flex; justify-content: center; padding: 5px;">
                    <a href="{{ url_for('eind') }}">
                        <button>Finish</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container border" style="min-height: 200px; overflow-y: scroll">
    {% for img in imgresultlist %}
    <img src="https://picsum.photos/200" alt="image placeholder" style="margin:5px;">
    {% endfor %}
</div>
{% endblock %}