{% extends "_layout.html" %}
{% block content %}
<a href="{{ url_for('dataset') }}">
    <button>
        Terug
    </button>
</a>
<a href="{{ url_for('afbeelding') }}">
    <button>
        Verder
    </button>
</a><br /><br />



<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="width:100%">
            <p>Progress</p>
            <div class="progress">
                <div id="ProgressBarID" class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </a>
    </div>
</nav>
{% endblock %}